{% extends "base.html" %}
{% block title %}Edit entry{% endblock %}


{% block style %}form{display:inline;}{% endblock %}

{% block head %}Edit entry{% endblock %}

{% block content %}
<body>
    <form action="/add/" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <input type='submit' value="add">
    </form>

    <br><h4>Items in shoplist:</h4>

    <ul>
    {% for item in shop_list %}
        <li>
            {{ item}}
            <form action="{% url 'delete' item.id %}" method="post">
                {% csrf_token%}
                <input type='submit' value="Delete">
            </form>

            <form action="{% url 'edit' item.id %}" method="post">
                {% csrf_token%}
                <input type='submit' value="Edit">
            </form>

        </li>
    {% endfor %}

    </ul>
{% endblock %}