{% extends "base.html" %}
{% block title %}Menu{% endblock %}

{% block style %}ul.menus {line-height: 90%;}{% endblock %}


{% block head %}Menu{% endblock %}
{% block content %}

    <a href="/home/">Home</a><br><br>

<a href="/menu/1/">Monday</a>
<a href="/menu/2/">Tuesday</a>
<a href="/menu/3/">Wednesday</a>
<a href="/menu/4/">Thursday</a>
<a href="/menu/5/">Friday</a>
<a href="/menu/6/">Saturday</a>
<a href="/menu/7/">Sunday</a> <br><br>

    <p>Here is the menus:</p>

    {% for res in restaurants %}
        <div class="col-md-4">
        <h4>{{res.name}}</h4>

        {{res.error}}

        {% for meal in res.meals%}
                <li class="menus"> {{meal.name}}
                {% for item in meal.items%}
                    {% if item.name != "" %}
                    <ul class="menus">
                        {{item.name}}
                    {% endif %}

                        {% if item.diets != None %}
                        ({{item.diets}})
                        {% endif %}

                    {% if item.name != "" %}
                    </ul>
                    {% endif %}

                {% endfor%}
                </li>
        {% endfor%}
        </div>
    {% endfor%}

{% endblock %}